<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" 
id="WebApp_ID" version="3.1">
  <display-name>hello</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
	<servlet>
		<servlet-name>DownloadServlet</servlet-name>
		<servlet-class>Main.DownloadServlet</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>GAMMAServlet</servlet-name>
	    <servlet-class>Main.GAMMAServlet</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>MultiTransServlet</servlet-name>
	    <servlet-class>Main.MultiTransServlet</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>NICEServlet</servlet-name>
	    <servlet-class>Main.NICEServlet</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>eQTL</servlet-name>
	    <servlet-class>Main.eQTL</servlet-class>
	</servlet>
    <servlet>
	    <servlet-name>Manhattan</servlet-name>
	    <servlet-class>Main.Manhattan</servlet-class>
	</servlet>
  
	  <servlet-mapping>
	  	<servlet-name>DownloadServlet</servlet-name>
	  	<url-pattern>/Download</url-pattern>
	  </servlet-mapping>
	<servlet-mapping>
    	<servlet-name>GAMMAServlet</servlet-name>
    	<url-pattern>/GAMMA</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
    	<servlet-name>MultiTransServlet</servlet-name>
    	<url-pattern>/MultiTrans</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
    	<servlet-name>NICE</servlet-name>
    	<url-pattern>/NICE</url-pattern>
  </servlet-mapping>
  	<servlet-mapping>
    	<servlet-name>eQTL</servlet-name>
    	<url-pattern>/eQTL</url-pattern>
  </servlet-mapping>
  	<servlet-mapping>
    	<servlet-name>Manhattan</servlet-name>
    	<url-pattern>/Manhattan</url-pattern>
  </servlet-mapping>
</web-app>